extends base.pug

block content 
    h4 Change Title of post
    form(method="POST")
        input(name="title", placeholder="Post Title", value=exhibition.title, required)
        input(value="Save",type="submit")